

/*COMMON CSS SECTION*/
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family:Roboto, sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
/*MENU SECTION*/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 25px;
	font-weight: 600;
}

.span-col {
	color: #ffbf35;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}
/*Main BANNER*/
.width-50 {
	float: left;
	width: 50%;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #ffbf35;
	color: #ffbf35;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
/*Main BANNER IMAGE*/
.main-panel img {
	margin-top: 10%;
	width: 100%;
	margin-left: 10%;
}
/*ABOUT US SECTION*/
.main-section {
	width: 100%;
	float: left;
	padding: 110px 0px 110px 0px;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: #ffbf35;
}
.about-img {
	
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;  
   
}
.about-us {
	width: 100%;
	float: left;
	padding: 20px;
}
.about-us p {
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
}
table {
	width: 100%;
}
table th,
table td {
	font-size: 16px;
	text-align: left;
	padding: 5px 0px;
}
/* skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 50px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
	border-radius: 70%;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #4fa0ff28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #ffed4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level{
    background: #52ff4f28;
    border-color: #52ff4f;
    color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level{
    background: #4fdfff28;
    border-color: #4fdfff;
    color: #4fdfff;
}
.portfolio {
    margin: 4.8rem 0;
    padding: 0 5rem;

}

.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
	
}

.port-card .image {
    width: 20%;
	
}

.port-card .image img {
    height: 200px;
    width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	
}body {
    font-family: Arial, sans-serif;
}
/* education */

#education {
    padding-right: 900px;
    padding-bottom:200px;
    padding-left:25px;
    background-color:black;
    width:100%;

}

#education h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    color:orange;
    text-align:center;
	padding-left: 600px;
}

.education-container {
    display: flex;
    /*grid-template-columns: repeat(3,1fr);*/
    flex-direction: column;
    gap: 15px;
    width:1000px;
	text-align: center;
	padding-left: 500px;
    font-size: 15px;
}

.education-item {
 
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.education-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.education-item p {
    margin: 5px 0;
    color: #666;
}
#intrests{
  margin-bottom: 0px;
    font-size: 2em;
    text-align: center;
    color:orange;}


/*----skills----*/
.wrapper{
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #eee;
   flex-wrap: wrap;
}
.top_div{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.top_div h1{
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    color: orange;
 
}
/*.top_div hr{
    position: relative;
    width: 70px;
    height: 4px;
    border: none;
    background: #12f7ff;
}*/
.content{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.content img{
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
    background: #eee;
    border-radius: 50%;
}

.content h2{
font-size: 18px;
margin: 10px;
text-transform: uppercase;
}
.content p{

    font-size: 13px;
    line-height: 1.4;
}